.logo {
    width: 97px;
    height: 51px;
}

@media (min-width: 993px) {
    #h .desktop-hides {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #h .tablet-hides {
        display: none;
    }
}


@media (min-width: 0px) and (max-width: 767px) {
    #h .mobile-hides {
        display: none;
    }
}