$colorGrey: #eaeaea;
$colorBackground: #f8f8f8;
$colorWhite: white;
$colorPink: #ff3e79;
$colorPinkOpacity: #ff3e7850;
$colorBlack:#1B1C21;
$colorFontGrey: #7E7E82;
$colorCyan: #41F6D7;
$colorCyanLight: #B8FFEC;

$colorSwiperPag: #DDDDDD;
$colorSwiperPagActive: #B5B6BC;